<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 


<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %> 
		<%- include('./partials/headerLogeado') %> 
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %> 
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= datosProducto.nombreProducto %>  </h2> 
			<p class="product-detail-description">
				<a href="/products/add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src= <%= datosProducto.imagen %> alt="" class="product-detail-img">
					<p class="product-detail-description"> <%= datosProducto.descripcion %> </p>
					<p class="product-detail-description"> Subido por: <a href="/users/profile/<%= datosProducto.usuario.id %> " class= "usuario"> <%= datosProducto.usuario.nombre %> <%= datosProducto.usuario.apellido %> </a> </p>
				</article>

				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i < datosProducto.comentarios.length; i++ ) { %>

							<article>
								<img src= "<%= datosProducto.comentarios[i].comentarioUsuario.fotoPerfil %>" alt="Foto de Perfil">
								<div class="data">
									<p class="user">
										<strong> <a href="/users/profile/<%= datosProducto.comentarios[i].comentarioUsuario.id %> "> <%= datosProducto.comentarios[i].comentarioUsuario.nombre %> <%= datosProducto.comentarios[i].comentarioUsuario.apellido %></a> </strong>
										<%= datosProducto.comentarios[i].texto %> 
									</p>
								</div>
							</article>
	
						<% } %>
					</section>

					<form class="form" action="/comentar" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>