<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 


<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %> 
		<%- include('./partials/headerLogeado') %> 
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %> 
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= datosProducto.nombreProducto %>  </h2> 
			<% if (locals.user != undefined) { %> <!--Chequeamos si hay un usuario logeado-->
						
				<% if (locals.user.id == datosProducto.usuario.id) { %> <!--Chequeamos si el usuario logeado es el mismo que el dueño del producto-->
				<p class="product-detail-description">
					<a href="/products/editar/<%= datosProducto.id %> ">Editar</a>
				</p>
				<form class="form" action="/products/borrar/<%= datosProducto.id %>" method="POST">
					<button type="submit" class="buy-now-button">BORRAR</button>
				</form>
				<% } %>

			<% } %>
				
			
			
		</div>
		<div class="product-detail">	
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src= "/images/products/<%= datosProducto.imagen %>" alt="<%= datosProducto.nombreProducto %> " class="product-detail-img"> <!--A traves del href accedo a la imagen en la carpeta de products-->
					<p class="product-detail-description"> <%= datosProducto.descripcion %> </p>
					<p class="product-detail-description"> 
						Subido por: <a href="/profile/<%= datosProducto.usuario.id %> " class= "usuario"> <%= datosProducto.usuario.nombreUsuario%> </a> 
					</p>
				</article>

				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i < datosProducto.comentarios.length; i++ ) { %>

							<article>
								<img src= "	/images/users/<%= datosProducto.comentarios[i].comentarioUsuario.fotoPerfil %>" alt="Foto de Perfil">
								<div class="data">
									<p class="user">
										<strong> 
											<a href="/profile/<%= datosProducto.comentarios[i].comentarioUsuario.id %> "> 
											<%= datosProducto.comentarios[i].comentarioUsuario.nombreUsuario %></a> 
										</strong>
										<%= datosProducto.comentarios[i].texto %> 
									</p>
								</div>
							</article>
	
						<% } %>
					</section>


					<form class="form" action="/products/comentar/<%= datosProducto.id %> " method="POST">
						<input class="form-input" type="text" name="texto" 	value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>