<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerLogeado') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<form action="/profileEdit/<%= datos.id %>" method="POST">
				<label class="form-label" for="nombre">Nombre:</label>
				<input class="form-input" type="text" name="nombre" value="<%= datos.nombre %>">

				<label class="form-label" for="apellido">Apellido:</label>
				<input class="form-input" type="text" name="apellido" value="<%= datos.apellido %>">

				<label class="form-label" for="email">Email:</label>
				<input class="form-input" type="email" name="email" value="<%= datos.email %>">
			
				<label class="form-label" for="usuario">Usuario:</label>
				<input class="form-input" type="text" name="usuario" value="<%= datos.nombreUsuario %>">
							
				<label class="form-label" for="contrasenia">Contraseña:</label>
				<input class="form-input" type="password" name="contraseña" value="<%= datos.contraseña %>">
		
				<label class="form-label" for="fotoPerfil">Foto de Perfil:</label>
				<input class="form-input" type="file" name="fotoPerfil" value="<%= datos.fotoPerfil %>">

				<button class="form-input" type="submit">Guardar cambios</button>	
			</form>
		</div>
	</div>
	<!-- footer -->
<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>